@import "../../../styles/settings.scss";

.container {
  display: flex;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .desc {
      margin: 20px 0px;
    }

    .container_socialmedia {
      display: flex; 

      .social_icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background-color: black; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }
    }
  }

  .center{
    flex: 1;
    padding: 20px;

    .title {
      margin-bottom: 30px;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    
      .list_item {
        width: 50%;
        margin-bottom: 10px;
      }

    }
    
  }

  .right{
    flex: 1;
    padding: 20px;

    .title {
      margin-bottom: 20px;
    }

    .contact_item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    
      p {
        margin-left: 1 0px;
      }
    }

    .payment {
      width: 50%;
    }
  } 
}

/* Media queries */

$mobile: 380px;

@media (max-width: $mobile) {

  .container {
    display: flex;
    flex-direction: column;
  
    .center{
      display: none;
    }
  
    .right{
      background-color: #fff8f8;
    } 
  }
}